body, div, p, img, h1, h2, h3, h4, h5, a, ul, ol, li {
	padding:0;
	margin:0;
	border:none;
	display:block;
	text-decoration: none;
	text-align:center;
	color:inherit;
}

ul {
	list-style-type: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

li {
	width:150px;
}

em {
	font-style:inherit;
	font-weight:400;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:13pt;
	line-height:20pt;
	background:#fff;
	color:#7d7d7d;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size:30px;
	font-weight:400;
	color:#a18c75;
}

h2 {
	color:#a18c75;
	font-size:16pt;
}

h3 {
	color:#e2e2e2;
	font-size:16pt;
	line-height:25pt;
	font-weight:inherit;
}

h4 {
	color:#e2e2e2;
}

span {
	font-size:10pt;
}

/* persistent pagedown arrow */

#page_down, #page_up {
	position:fixed;
	bottom:2%;
	left:50%;
	margin-left:-18px;
	width:35px;
	height:35px;
	background: url('http://static.tumblr.com/wzpptcw/pHPmnn3zb/urim_icons.png') no-repeat transparent;
	background-position: -660px -25px;
	z-index:2;
}

#page_down:hover {
	background-position: -660px -64px;
}

#page_up {
	background-position: -612px -25px; 
}

#page_up:hover {
	background-position: -612px -64px;
}

/* Splash section */

#splash {
	position:relative;
	width:100%;
	height:100%;
	background: #203d51;
}

#splash_container {
	position:absolute;
	width:100%;
	top:50%;
}

#logo {
	position:relative;
	width:230px;
	height:233px;
	margin:auto;
	background:url('http://static.tumblr.com/wzpptcw/pHPmnn3zb/urim_icons.png') no-repeat transparent;
	background-position: -25px -25px;
}

#splash_blurb {
	position:relative;
	width:854px;
	margin:50px auto;
}

/* navigation bar */

#nav {
	background:#203D51;
	width:100%;
	height:50px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:2;
	display:none;
	border-bottom:none;
}

#nav_container {
	position:relative;
	width:100%;
	margin:auto;
}

#logo_small {
	position:absolute;
	top:11px;
	left:11px;
	width:78px;
	height:81px;
	background:url('http://static.tumblr.com/wzpptcw/pHPmnn3zb/urim_icons.png') no-repeat transparent;
	background-position: -278px -25px;
}

#nav_links {
	width:50%;
	height:50px;
	padding:12px 0 0 0;
	margin:auto;
	text-align: center;
}

.links {
	font-family: 'Roboto Slab', serif;
	display:inline-block;
	color:#a18c75;
	cursor:pointer;
}

.selected {
	text-decoration:underline;
}



/* universal properties */

section {
	position:relative;
	width:100%;
	height:100%;
}

#skills, #experience {
	padding-top:30px;
}

#aboutme_container, #skills_container, #experience_container, #connect_container {
	position:absolute;
	top:50%;
	left:50%;
	width:1024px;
	margin-left:-512px;
}

#aboutme_container, #skills_container, #experience_container {
	width:100%;
	left:0px;
	margin-left:0px;
}

/* about me */

#aboutme_container p {
	width:854px;
	margin:50px auto;
}

#moreaboutme_container {
	position:relative;
	width:100%;
	margin-top:-26px;
	overflow:hidden;
	background: #e2e2e2; 
}

#moreaboutme {
	position:relative;
	background-color:#fff;
	color:#203D51;
	width:50px;
	height:50px;
	margin:auto;
	border:1px solid #e2e2e2;
	z-index:1;
	transform: rotate(45deg);
	transform-origin:50% 50%;
	-ms-transform: rotate(45deg); /* IE 9 */
	-ms-transform-origin:50% 50%; /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	-webkit-transform-origin:50% 50%; /* Safari and Chrome */
	-moz-transform: rotate(45deg); /* Firefox */
	-moz-transform-origin:50% 50%; /* Firefox */
}

#moreaboutme:hover {
	background-color:#203D51;
	color:#e2e2e2;
}

#moreaboutme .description {
	transform: rotate(-45deg);
	transform-origin:50% 50%;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-ms-transform-origin:50% 50%; /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
	-webkit-transform-origin:50% 50%; /* Safari and Chrome */
	-moz-transform: rotate(-45deg); /* Firefox */
	-moz-transform-origin:50% 50%; /* Firefox */
}

#moreaboutme_content {
	display:inline-block;
	position:relative;
	display:none;
}
.slide {
	position:relative;
	float:left;
	width:100%;
}

#slide_icon {
	position:absolute;
	width:100%;
	bottom:0px;
}

#slide_icon_wrapper {
	display:inline;
	margin:auto;
}

.ball {
	display:inline-block;
	background:#203d51;
	width:10px;
	height:10px;
	border-radius:5px;
	margin:2px;
	z-index: 1;
}

blockquote {
	font-size:35pt;
	font-family:'Roboto', sans-serif;
	font-weight:400;
	line-height:40pt;
}

.info {
	float:left;
	width:33.33%;
	padding:100px 0;
}

.info h3 {
	color:#203D51;
	margin-bottom:20px;
}

.info ol {
	width:100%;
}

.info li {
	display:inline-block;
	width:100px;
	height:100px;
	margin:0 5px;
}

#publications li {
	background:url('publication_logos.png') no-repeat transparent;
}

#publications li:nth-child(2) {background-position:-100px 0px;}
#publications li:nth-child(3) {background-position:0px -100px;}
#publications li:nth-child(4) {background-position:-100px -100px;}
#publications li:nth-child(5) {background-position:0px -200px;}
#publications li:nth-child(6) {background-position:-100px -200px;}

#publications li a {
	width:100%;
	height:100%;
}

#basicinfo div {
	margin-bottom:40px;
}

/* ----- Instagram */

.instagram {
	margin:auto;
	width:100%;
}

.instagram-placeholder {
	display:inline-block;
}

.instagram-image {
	width:100px !important;
	height:100px !important;
	margin:0 5px;
}

/* ----- World Map Animation */

#world_animation_container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
	padding:0px;
}

#world_map_animation {
	position:relative;
	width:1516px;
	height:758px;
	margin:-150px 0 0 0;
	transform-origin:0 50%;
	-ms-transform-origin:0 50%; /* IE 9 */
	-webkit-transform-origin:0 50%; /* Safari and Chrome */
	-moz-transform-origin:0 50%; /* Firefox */
	-o-transform-origin:0 50%; /* Opera */
}

#world_map {
	width:100%;
	height:100%;
	background:url('http://static.tumblr.com/wzpptcw/xCGmnn76r/world_map.png') no-repeat 50% 50% transparent;
	background-size:contain;
}

.location {
	position:absolute;
	height:10px;
	width:10px;
	border-radius:5px;
	background:#203D51;
}

.line {
	position:absolute;
	background:#203D51;
	height:3px;
}

.tooltip_left {
	position:absolute;
	width:100px;
	bottom:-20px;
	left:30px;
	padding:10px;
	background:#203D51;
	color:#fff;
	border-radius:3px;
	border:1px solid #203D51;
	text-align:center;
}

.tooltip_left:before {
	position:absolute;
	content:"";
	display:block;
	height:0px;
	width:0px;
	border:10px solid transparent;
	border-right:10px solid #203D51;
	left:-20px;
	bottom:15px;
}

.tooltip_right {
	position:absolute;
	width:100px;
	top:-21px;
	right:30px;
	padding:10px;
	background:#203D51;
	color:#fff;
	border-radius:3px;
	border:1px solid #203D51;
	text-align:center;
}

.tooltip_right:after {
	position:absolute;
	content:"";
	display:block;
	height:0px;
	width:0px;
	border:10px solid transparent;
	border-left:10px solid #203D51;
	right:-20px;
	top:15px;
}

.tooltip_arrow_bottom {
	top:-50px !important;
}

.tooltip_arrow_bottom:after, .tooltip_arrow_bottom:before {
	top:44px !important;
}

#seoul {
	top:293px;
	left:1220px;
}

#seoultodallas {
	top:346px;
	left:319px;
	width:905px;
	-webkit-transform: rotate(-3.1deg); /* Safari and Chrome */
	-webkit-transform-origin:0 50%; /* Safari and Chrome */
	-o-transform: rotate(-3.1deg); /* Opera */
	-o-transform-origin:0 50%; /* Opera */
	-ms-transform: rotate(-3.1deg); /* IE9 */
	-ms-transform-origin:0 50%; /* IE9 */
	-moz-transform: rotate(-3.1deg); /* Firefox */
	-moz-transform-origin:0 50%; /* Firefox */
	transform: rotate(-3.1deg); 
	transform-origin:0 50%; 
}

#dallas {
	top:343px;
	left:317px;
}

#dallastochicago {
	top:346px;
	left:322px;
	width:60px;
	-webkit-transform: rotate(-60.5deg); /* Safari and Chrome */
	-webkit-transform-origin:0 50%; /* Safari and Chrome */
	-o-transform: rotate(-60.5deg); /* Opera */
	-o-transform-origin:0 50%; /* Opera */
	-ms-transform: rotate(-60.5deg); /* IE9 */
	-ms-transform-origin:0 50%; /* IE9 */
	-moz-transform: rotate(-60.5deg); /* Firefox */
	-moz-transform-origin:0 50%; /* Firefox */
	transform: rotate(-60.5deg); 
	transform-origin:0 50%; 
}

#chicago {
	top:290px;
	left:348px;
}

#chicagotonewyork {
	top:293px;
	left:355px;
	width:70px;
	-webkit-transform: rotate(6.5deg); /* Safari and Chrome */
	-webkit-transform-origin:0 50%; /* Safari and Chrome */
	-o-transform: rotate(-6.5deg); /* Opera */
	-o-transform-origin:0 50%; /* Opera */
	-ms-transform: rotate(-6.5deg); /* IE9 */
	-ms-transform-origin:0 50%; /* IE9 */
	-moz-transform: rotate(-6.5deg); /* Firefox */
	-moz-transform-origin:0 50%; /* Firefox */
	transform: rotate(-6.5deg); 
	transform-origin:0 50%; 
}

#newyork {
	top:297px;
	left:416px;
}

/* skills */

#skills {
	background: #203d51;
}

#skills_container {
	position:relative;
}

#projmgmt_container, #webdev_container, #data_container {
	display:inline-block;
	margin-top:50px;
	margin-left:-3px;
	width:33.33%;
}

#projmgmt, #webdev, #data {
	position:relative;
	border:#fff 10px solid;
	height:150px;
	width:150px;
	color:#e2e2e2;
	margin:auto;
	border-radius:85px;
}

#projmgmt_container li, #webdev_container li, #data_container li {
	display:inline-block;
	padding:25px 0;
	width:70%;
	font-size:11pt;
	color:#e2e2e2;
	border-top:1px dashed #e9e9e9;
}

#projmgmt_container li:first-child, #webdev_container li:first-child, #data_container li:first-child {
	padding-top:50px;
	border:0px;
}

/* Experience */

.col {
	width:30%;
	display:inline-block;
	margin:50px 10px 0;
	padding-top:25px;
}

.col h2 {
	margin-bottom:25px;
}

.col ul {
	width:100%;
	background:#f4f4f4;
}

.project {
	position:relative;
	width:300px;
	height:150px;
	margin:auto;
	margin-bottom:30px;
	background:#f4f4f4;
}

.description {
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
}

.project h3 {
	font-weight:400;
	color:#203d51;
}

.project p {
	font-size:11pt;
	line-height:16pt;
}

/* Connect */

#connect_container p {
	width:854px;
	margin:50px auto;
}

.connect_icon a {
	display:inline-block;
}

.connect_icon li {
	width:60px;
	height:60px;
	margin:0 5px;
	background:url('http://static.tumblr.com/wzpptcw/pHPmnn3zb/urim_icons.png') no-repeat transparent;
}

#facebook {
	background-position: -278px -207px;
}

#twitter {
	background-position: -338px -207px;
}

#linkedin {
	background-position: -398px -207px;
}

#tumblr {
	background-position: -458px -207px;
}

#google {
	background-position: -518px -207px;
}

#email {
	background-position: -578px -207px;
}

/* watermark */

#watermark {
	display:inline-block;
	margin:100px 0;
}

#watermark_logo {
	float:left;
	width:55px;
	height:55px;
	margin-right:10px;
	background:url('http://static.tumblr.com/wzpptcw/pHPmnn3zb/urim_icons.png') no-repeat transparent;
	background-position:-165px -306px;
}

#watermark div {
	float:left;
	height:55px;
	font-size:8pt;
	line-height:10pt;
	text-align:left;
}

#watermark div span {
	display:block;
	font-family:'Roboto Slab', serif;
	margin-top:15px;
}

#watermark a {
	display:inline;
}

#watermark a:hover {
	text-decoration: underline;
}


/* debug */




